/* Fonts */
@font-face {
  font-family: 'Kicker Black';
  src: url('./components/assets/fonts/thicker_font/KickerTrial-Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Kicker Black Italic';
  src: url('./components/assets/fonts/thicker_font/KickerTrial-BlackItalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Kicker Black Slanted';
  src: url('./components/assets/fonts/thicker_font/KickerTrial-BlackSlanted.ttf') format('truetype');
  font-style: oblique;
}

@font-face {
  font-family: 'Kicker Black Upright';
  src: url('./components/assets/fonts/thicker_font/KickerTrial-BlackUpright.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Thicker Italic';
  src: url('./components/assets/fonts/thicker_font/Thicker-Regular-Italic-trial.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Thicker Slanted';
  src: url('./components/assets/fonts/thicker_font/Thicker-Regular-Slanted-trial.ttf') format('truetype');
  font-style: oblique;
}

@font-face {
  font-family: 'Thicker Regular';
  src: url('./components/assets/fonts/thicker_font/Thicker-Regular-trial.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Thicker Upright';
  src: url('./components/assets/fonts/thicker_font/Thicker-Regular-Upright-trial.ttf') format('truetype');
  font-style: normal;
}


body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

.container {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
  height: 100vh;
  width: 100%;
}

.slide {
  height: 100vh;
  /* scroll-snap-align: scroll; */
}

canvas{
  height: 800px;
  width: 900px;
}